Hello world. A custom component says <app-hello></app-hello>

<input type="text" value="{{myVariable}}" [disabled]="myDisabledValue" />

<input type="text" [(ngModel)]="text">{{text}}
<!--<button (click)="callMyFunction()">Hey There</button>-->
<table>
  <tr>
    <td>S No. </td>
  <td>Name</td>
  <td>Is online?</td>
</tr>
<tr *ngFor="let record of records; let i = index; let firstRecord = first; let lastRecord = last; let evenRecord = even; let oddRecord = odd" [ngClass]="{odd: oddRecord, even:evenRecord, first:firstRecord, last: lastRecord}">
  <td>{{i + 1}}</td>
  <td>{{record.name}}</td>
  <td>{{record.online}}</td>
  </tr>
  
</table>

<button (click)="callMyFunction()">Hey There></button>

<div> Months :
   <select>
      <option *ngFor="let i of months">{{i}}</option>
   </select>
</div>
<br/>
<div>
   <span *ngIf = "isavailable; then condition1 else condition2">Condition is valid.</span>
   <ng-template #condition1>Condition is valid</ng-template>
   <ng-template #condition2>Condition is invalid</ng-template>
</div>

<!--The content below is only a placeholder and can be replaced.-->
<div style = "text-align:center">
   <h1>
      Welcome to {{title}}.
   </h1>
</div>
<div> Months :
   <select (change) = "changemonths($event)" name = "month">
      <option *ngFor = "let i of months">{{i}}</option>
   </select>
</div>
<br/>
<div>
   <span *ngIf = "isavailable;then condition1 else condition2">Condition is valid.</span>
   <ng-template #condition1>Condition is valid from template</ng-template>
   <ng-template #condition2>Condition is invalid from template</ng-template>
</div>
<button (click) = "myClickFunction($event)">Click Me</button>
<!--Angular 4200 -- makes an API call -- API server 1234
Angular 4200 -- makes an API call to /api/* -- webpack dev sever -- API server 1234-->
